<h1 mat-dialog-title>{{ isNew() ? '修改用户' : '新建用户' }}</h1>
<div mat-dialog-content [formGroup]="form">
  <div [ngSwitch]="data.protocol" formGroupName="data">
    <div *ngSwitchDefault>
      <div class="row">
        <mat-form-field class="col">
          <input placeholder="Email" formControlName="email" matInput type="email" cdkFocusInitial>
        </mat-form-field>
        <mat-form-field class="col">
          <input placeholder="UUID" formControlName="uuid" matInput cdkFocusInitial>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col">
          <input placeholder="AID" formControlName="aid" type="number" matInput cdkFocusInitial>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngSwitchCase="'Socks'">
      <mat-form-field class="col">
        <input placeholder="用户名" formControlName="user" matInput cdkFocusInitial>
      </mat-form-field>
      <mat-form-field class="col">
        <input placeholder="密码" formControlName="pass" matInput cdkFocusInitial>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">取消</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">确定</button>
</div>
