* {
  &:active,
  :focus {
    outline: none !important;
  }
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

.mat-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

.state-layout {
  .progress-state {
    margin: auto;
  }

  .error-state {
    text-align: center;
    padding: 20px;

    > mat-icon {
      width: 54px;
      font-size: 48px;
    }

    > span {
      opacity: 0.4;
    }

    .symbol {
      font-weight: bold;
    }
  }
}
